{% extends "home.html" %}
{% load static %}

{% block content %}

<section class="py-20 bg-gray-50 dark:bg-neutral-700">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 gap-5">
            <div class="mb-5 text-center">
                <h3 class="mb-3 text-3xl text-gray-900 dark:text-gray-50">New & Random Jobs</h3>
                <p class="mb-5 text-gray-500 whitespace-pre-line dark:text-gray-300">Post a job to tell us about your project. We'll quickly match you with the right <br> freelancers.</p>
            </div>
        </div>
        <div class="nav-tabs chart-tabpill">
            <div class="grid grid-cols-12">
                <div class="col-span-12 lg:col-span-8 lg:col-start-3">
                    
                    <div class="p-1.5 bg-white dark:bg-neutral-900 shadow-lg shadow-gray-100/30 rounded-lg dark:shadow-neutral-700">
                         <ul class="items-center text-sm font-medium text-center text-gray-700 nav md:flex">
                            <li class="w-full">
                                <a href="#" data-tw-toggle="tab" data-tw-target="recent-job" class="inline-block w-full py-[12px] px-[18px] dark:text-gray-50 active" aria-current="page">Recent Jobs</a>
                            </li>
                            <li class="w-full">
                                <a href="#" data-tw-toggle="tab" data-tw-target="featured-jobs-tab" class="inline-block w-full py-[12px] px-[18px] dark:text-gray-50">Featured Jobs</a>
                            </li>
                            {% comment %} <li class="w-full">
                                <a href="#" data-tw-toggle="tab" data-tw-target="freelancer-tab" class="inline-block w-full py-[12px] px-[18px] dark:text-gray-50">Freelancer</a>
                            </li>
                             <li class="w-full">
                                <a href="#" data-tw-toggle="tab" data-tw-target="part-time-tab" class="inline-block w-full py-[12px] px-[18px] dark:text-gray-50">Part Time</a>
                            </li>
                             <li class="w-full">
                                <a href="#" data-tw-toggle="tab" data-tw-target="full-time-tab" class="inline-block w-full py-[12px] px-[18px] dark:text-gray-50">Full Time</a>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="block w-full tab-pane" id="recent-job">
                    <div class="pt-8 ">
                        <div class="space-y-8">
                            {% for job in data  %}
                            <div class="relative mt-4 overflow-hidden transition-all duration-500 ease-in-out bg-white border rounded-md border-gray-100/50 group group-data-[theme-color=violet]:hover:border-violet-500 group-data-[theme-color=sky]:hover:border-sky-500 group-data-[theme-color=red]:hover:border-red-500 group-data-[theme-color=green]:hover:border-green-500 group-data-[theme-color=pink]:hover:border-pink-500 group-data-[theme-color=blue]:hover:border-blue-500 hover:-translate-y-2 dark:bg-neutral-900 dark:border-neutral-600">
                                <div class="w-48 absolute -top-[5px] -left-20 -rotate-45 group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=sky]:bg-sky-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=pink]:bg-pink-500 group-data-[theme-color=blue]:bg-blue-500 p-[6px] text-center">
                                    <a href="javascript:void(0)" class="text-2xl text-white align-middle"><i class="mdi mdi-star"></i></a>
                                </div>
                                <div class="p-4">
                                    <div class="grid items-center grid-cols-12">
                                        <div class="col-span-12 lg:col-span-2">
                                            <div class="mb-4 text-center mb-md-0 ">
                                                <a href="{% static "company-details.html" %}"><img src=" {{job.image.url}} " alt="" class="mx-auto w-16 h-16 img-fluid rounded-6"></a>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-span-12 lg:col-span-3">
                                            <div class="mb-2 mb-md-0">
                                                <h5 class="mb-1 fs-18"><a href="{% url "jobdetails" job.id %}" class="text-gray-900 dark:text-gray-50"> {{job.title}} </a>
                                                </h5>
                                                <p class="mb-0 text-gray-500 fs-14 dark:text-gray-300">{{ job.client_id.first_name }} {{ job.client_id.last_name }}</p>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-span-12 lg:col-span-3">
                                            <div class="mb-2 lg:flex">
                                                <div class="flex-shrink-0">
                                                    <i class="mr-1 group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=sky]:text-sky-500 group-data-[theme-color=red]:text-red-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=pink]:text-pink-500 group-data-[theme-color=blue]:text-blue-500 mdi mdi-briefcase-account-outline"></i>
                                                </div>
                                                <p class="mb-0 text-gray-500 dark:text-gray-300"> {{job.catagories}} </p>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-span-12 lg:col-span-2">
                                            <div>
                                                <p class="mb-2 text-gray-500 dark:text-gray-300"><span class="group-data-[theme-color=violet]:text-violet-500 group-data-[theme-color=sky]:text-sky-500 group-data-[theme-color=red]:text-red-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=pink]:text-pink-500 group-data-[theme-color=blue]:text-blue-500">$</span> {{job.budget}} </p>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-span-12 lg:col-span-2">
                                            <div class="flex flex-wrap gap-1.5">
                                                <span class="badge bg-violet-500/20 text-violet-500 text-13 px-2 py-0.5 font-medium rounded">Freelancer</span>
                                                <span class="badge bg-sky-500/20 text-sky-500 text-13 px-2 py-0.5 font-medium rounded">Private</span>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <div class="p-3 bg-gray-50 dark:bg-neutral-700">
                                    <div class="grid grid-cols-12">
                                        <div class="col-span-12 lg:col-span-6">
                                            <div>
                                                <p class="mb-0 text-gray-500 dark:text-gray-300"><span class="text-gray-900 dark:text-gray-50">Deadline:</span> {{job.deadline}} </p>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-span-12 lg:col-span-5">
                                            <div class="text-start lg:text-end dark:text-gray-50">
                                                <a href="{% url "job-list" job.id %}" data-bs-toggle="modal">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <div class="absolute top-4 ltr:right-4 rtl:left-4">
                                    <div class="w-8 h-8 text-center text-gray-100 transition-all duration-300 bg-transparent border rounded border-gray-100/50 hover:bg-red-600 hover:text-white hover:border-transparent dark:border-zinc-700">
                                        <a href="{% url "bookmark" job.id %}"><i class="uil uil-heart-alt text-lg leading-[1.8]"></i></a>
                                    </div>
                                </div> 
                            </div>

                            {% endfor %}

                        </div>
                    </div>
            </div>
        </div>

        {% comment %} <div class="mt-8">
            <div class="grid grid-cols-1">
                <div class="text-center">
                    <a href="{% static "job-categories.html" %}" class="text-white border-transparent group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=sky]:bg-sky-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=pink]:bg-pink-500 group-data-[theme-color=blue]:bg-blue-500 btn focus:ring focus:ring-custom-500/20">View More  <i class="uil uil-arrow-right ms-1"></i></a>
                </div>
            </div>
        </div> {% endcomment %}
    </div>

    <div class="grid grid-cols-12">
        <div class="col-span-12">
            <ul class="flex justify-center gap-2 mt-8">
                <li class="w-12 h-12 text-center border rounded-full cursor-default border-gray-100/50 dark:border-gray-100/20">
                    <a class="cursor-auto" href="javascript:void(0)" tabindex="-1">
                        <i class="mdi mdi-chevron-double-left text-16 leading-[2.8] dark:text-white"></i>
                    </a>
                </li>
                <li class="w-12 h-12 text-center text-white border border-transparent rounded-full cursor-pointer group-data-[theme-color=violet]:bg-violet-500 group-data-[theme-color=sky]:bg-sky-500 group-data-[theme-color=red]:bg-red-500 group-data-[theme-color=green]:bg-green-500 group-data-[theme-color=pink]:bg-pink-500 group-data-[theme-color=blue]:bg-blue-500">
                    <a class="text-16 leading-[2.8]" href="javascript:void(0)">1</a>
                </li>
                <li class="w-12 h-12 text-center text-gray-900 transition-all duration-300 border rounded-full cursor-pointer border-gray-100/50 hover:bg-gray-100/30 focus:bg-gray-100/30 dark:border-gray-100/20 dark:text-gray-50 dark:hover:bg-gray-500/20">
                    <a class="text-16 leading-[2.8]" href="javascript:void(0)">2</a>
                </li>
                <li class="w-12 h-12 text-center text-gray-900 transition-all duration-300 border rounded-full cursor-pointer border-gray-100/50 hover:bg-gray-100/30 focus:bg-gray-100/30 dark:border-gray-100/20 dark:text-gray-50 dark:hover:bg-gray-500/20">
                    <a class="text-16 leading-[2.8]" href="javascript:void(0)">3</a>
                </li>
                <li class="w-12 h-12 text-center text-gray-900 transition-all duration-300 border rounded-full cursor-pointer border-gray-100/50 hover:bg-gray-100/30 focus:bg-gray-100/30 dark:border-gray-100/20 dark:text-gray-50 dark:hover:bg-gray-500/20">
                    <a class="text-16 leading-[2.8]" href="javascript:void(0)">4</a>
                </li>
                <li class="w-12 h-12 text-center text-gray-900 transition-all duration-300 border rounded-full cursor-pointer border-gray-100/50 hover:bg-gray-100/30 focus:bg-gray-100/30 dark:border-gray-100/20 dark:text-gray-50 dark:hover:bg-gray-500/20">
                    <a href="javascript:void(0)" tabindex="-1">
                        <i class="mdi mdi-chevron-double-right text-16 leading-[2.8]"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--end col-->
    </div>
</section>
<!-- end job list -->

{% endblock content %}